[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-environ = "*"
polygon-api-client = "*"
bs4 = "*"
requests = "*"
django-cors-headers = "*"
djangorestframework-jwt = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
django = "*"
channels = "==3"
websocket = "*"
newsapi-python = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
